@import "../../../../style/mixins.scss";
@import "../../../../style/breakpoints.scss";
@import "../../../../style/variables.scss";

.contact-form {
  @include column;
  gap: 8px;

  .field {
    .Mui-focused {
      fieldset {
        border-width: 3px;
      }
    }
    p {
      text-align: end;
    }
    div {
      background-color: $white;
    }
  }
  button {
    align-self: unset;
    @include md {
      align-self: flex-end;
    }
  }
}
