@import "../../../../style/mixins.scss";
@import "../../../../style/variables.scss";
@import "../../../../style/animations.scss";

.skill-category-card {
  @include column;
  width: max-content;
  border-radius: 4px;
  align-items: center;
  background-color: $white;
  box-shadow: $box-shadow;
  padding: 10px;
  margin: 16px auto;
  .title {
    font-size: 1.1rem;
    margin-bottom: 4px;
  }
  &.scale-in {
    .skill-level {
      animation: ScaleIn 0.8s linear;
      animation-fill-mode: both;
    }
    @for $i from 1 through 10 {
      .skills .skill-level:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.3}s;
      }
    }
  }
}
