$primary-color: #4caf50;
$primary-color-09: rgba($primary-color, 0.9);
$primary-color-08: rgba($primary-color, 0.8);

$black: rgb(17, 17, 17);
$black-09: rgb($black, 0.9);
$black-08: rgb($black, 0.8);
$black-07: rgb($black, 0.7);
$black-01: rgb($black, 0.1);

$white: rgb(238, 238, 238);
$white-09: rgba($white, 0.9);
$white-09: rgba($white, 0.8);
$white-09: rgba($white, 0.7);
$white-01: rgba($white, 0.1);

$box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);