@import "../../../../style/mixins.scss";
@import "../../../../style/variables.scss";

.diploma-card {
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 8px;
  padding: 16px;
  @include row;
  align-items: center;
  gap: 16px;
  .school-icon {
    width: 50px;
    height: fit-content;
  }
  .details {
    @include column;
    gap: 4px;
    color: $black-07;
    .name {
      font-weight: 600;
    }
  }
}
