@import "./style/variables.scss";
@import "./style/breakpoints.scss";

.App {
  border-radius: 30px 30px 0 0;
  background-color: $white;
  box-shadow: $app-box-shadow;
  height: calc(100vh - 10px);
  @include md {
    height: calc(100vh - 20px);
  }
  @include lg {
    height: calc(100vh - 30px);
  }
}
